{% extends 'pyHtmlGuiBase.html' %}

{% block head_scripts %}
    <script src="/static/js/jquery.min.js"></script>
    <script src="static/js/jquery.scrollex.min.js"></script>
    <script src="static/js/jquery.scrolly.min.js"></script>
    <script src="static/js/skel.min.js"></script>
    <script src="static/js/util.js"></script>
    <script src="static/js/main.js"></script>
    <script>
        function show_tooltip(element)
        {
            x = element.nextElementSibling;
            if (x.style.display === "none") {
                x.style.display = "block";
                element.innerHTML = element.dataset.txt_less;
            } else {
                x.style.display = "none";
                element.innerHTML = element.dataset.txt_more;
            }
        }
    </script>
{% endblock %}

{% block head_css %}
    <title>Perfect Privacy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/css/main.css" />
    <link rel="stylesheet" href="static/css/font-awesome.min.css" />
{% endblock %}

{% block head_meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
{% endblock %}

