# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.idea
dist
var/software_update/*
var/config_update/*
var/configs/mpass
var/reports
var/user_settings.bson
var/storage.db
var/.perfect_privacy.instid
build_tmp
venv
.DS_Store
crash.log
test.py
package.json
package-lock.json
error.log
debug.log
webrtc_event_logs
pt_state
r.py
test.py
blob_storage
thirdparty/thirdparty.zip
thirdparty/macos
thirdparty/macos-arm
thirdparty/windows
foo.py
foo.spec
var/mpass