set skip on lo0
block drop in all
block drop out all
#block log all
pass out inet from any to 217.114.218.18 flags S/SA keep state
pass out inet from any to 10.0.0.0/8 flags S/SA keep state
pass out inet from any to 192.168.0.0/16 flags S/SA keep state
pass out inet from any to 172.16.0.0/12 flags S/SA keep state
pass out inet proto udp from any to 224.0.0.251 port = 5353 keep state
pass out inet from any to 169.254.0.0/16 flags S/SA keep state
pass in inet from 10.0.0.0/8 to any flags S/SA keep state
pass in inet from 192.168.0.0/16 to any flags S/SA keep state
pass in inet from 172.16.0.0/12 to any flags S/SA keep state
pass out on utun3 all flags S/SA keep state
pass out inet6 to fe80::/64
